<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee>
        Welcome to my homepage guize
    </marquee>
    <%= x %>
    <%= name %>
    <%= arr %>
    <%= obj.name %>

    

    <% for(let i = 0; i < arr.length; i++) { %> 
            <div style="color:green;">
                <%= arr[i] %>
            </div>
    <% } %>

    <% console.log(arr) %>

    <p>This website has been visited <%= counter %> times</p>
    

</body>
</html>