<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Edit a user:<br>
    <form method="POST" action="/users/<%= obj.id %>/?_method=PUT">
        Enter your new name:<br>
        <input name="name_input" placeholder="<%= obj.name %>" value="<%= obj.name %>" /><br>
        Enter your new mood:<br>
        <input name="mood_input" placeholder="<%= obj.mood %>" value="<%= obj.mood %>" /><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>