<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% products.forEach(p => { %>
      <a href="/products/<%= p.id %>">
        <div class="card">
          <h4><%= p.productName %>: <span>$<%= p.price %></span></h4>
        </div>
      </a>
    <% }) %>
  </body>
</html>
